<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Restaurant</title>
</head>
<body> -->
<% layout('layouts/boilerplate') %>

    <div class="container row">
    <h1 class="text-center">New Restaurant</h1>
<div class="col-6 offset-3">
<form action="/restaurants" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
<div class="mb-3">
    <label class="form-label" for="title">Add Restaurant/Batista:</label><br>
    <input id="title" type="text" class="form-control" name="restaurant[title]" placeholder="restaurant" required>
    <div class="valid-feedback">
        Looks Good!!
</div>
</div>
<div class="mb-3">
        <label class="form-label" for="location">location:</label><br>
        <input type="text" class="form-control" name="restaurant[location]" id="location" required>
    <!-- <textarea name="comment" id="comment" cols="30" rows="5"></textarea> -->
 <div class="valid-feedback">
        Looks Good!!
</div>
</div>
    <div class="mb-3">
        <label class="form-label" for="" name="image">Add Images:</label>
        <!-- <input type="file" name="image" multiple required> -->
<div class="input-group custom-file custom-file mb-3">
  <input type="file" class="form-control custom-file-input" id="image" name="image" multiple>
  <label class="input-group-text" for="image">Upload</label>
</div>
    <!-- <div class="form-file custom-file">
        <input type="file" class="form-file-input" id="image" name="image" multiple>
        <label for="image" class="form-file-label">
            <span class="form-file-text custom-file-label">Choose image(s)...</span>
            <span class="form-file-button">Browse</span>
        </label>
</div> -->
    </div>
<!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="restaurant[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
    <div class="mb-3">
        <label for="description">Description:</label>
        <textarea class="form-control" name="restaurant[description]" id="description" required></textarea>
         <div class="valid-feedback">
        Looks Good!!
</div>
</div>
 <button class="btn btn-success">submit</button>
</form>
</div>
    <div class="text-center">
    <a href="/restaurants">All Restaurants</a>
    </div>
</div>
<!-- </body>
</html>  -->

<!-- <script>
 (() => {
'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script> -->